*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
.main{
    width: 100%;
}
.main .title-boss{
    width: 100%;
    display: flex;
    margin: 3%;
}
.main .title-boss .container{
    margin-left: 1%;
    font-size: 20px;
}
.main .title-boss .container .content-story{
    margin-top: 10%;
}
.main .title-boss .container .button-next{
    margin-top: 10%;
    color: 30px;
}

